/* Type Colors */

$header-color: #000000;
$text-color: #959AB4;
$link-color: #F96421;
$link-color-hover: #FFA278;


/* App Colors */

$tomato-50: #FFFCFC;
$tomato-100: #FFF8F7;
$tomato-200: #FFF0EE;
$tomato-300: #FFE6E2;
$tomato-400: #FDD8D3;
$tomato-500: #FAC7BE;
$tomato-600: #F3B0A2;
$tomato-700: #EA9280;
$tomato-800: #E54D2E;
$tomato-900: #DB4324;
$tomato-1000: #CA3214;

$red-50: #FFFCFC;
$red-100: #FFF8F8;
$red-200: #FFEFEF;
$red-300: #FFE5E5;
$red-400: #FDD8D8;
$red-500: #F9C6C6;
$red-600: #F3AEAF;
$red-700: #EB9091;
$red-800: #E5484D;
$red-900: #DC3D43;
$red-1000: #CD2B31;

$pink-50: #FFFCFE;
$pink-100: #FFF7FC;
$pink-200: #FEEEF8;
$pink-300: #FCE5F3;
$pink-400: #F9D8EC;
$pink-500: #F3C6E2;
$pink-600: #ECADD4;
$pink-700: #E38EC3;
$pink-800: #D6409F;
$pink-900: #D23197;
$pink-1000: #CD1D8D;

$plum-50: #FEFCFF;
$plum-100: #FFF8FF;
$plum-200: #FCEFFC;
$plum-300: #F9E5F9;
$plum-400: #F3D9F4;
$plum-500: #EBC8ED;
$plum-600: #DFAFE3;
$plum-700: #CF91D8;
$plum-800: #AB4ABA;
$plum-900: #A43CB4;
$plum-1000: #9C2BAD;

$purple-50: #FEFCFE;
$purple-100: #FDFAFF;
$purple-200: #F9F1FE;
$purple-300: #F3E7FC;
$purple-400: #EDDBF9;
$purple-500: #E3CCF4;
$purple-600: #D3B4ED;
$purple-700: #BE93E4;
$purple-800: #8E4EC6;
$purple-900: #8445BC;
$purple-1000: #793AAF;

$violet-50: #FDFCFE;
$violet-100: #FBFAFF;
$violet-200: #F5F2FF;
$violet-300: #EDE9FE;
$violet-400: #E4DEFC;
$violet-500: #D7CFF9;
$violet-600: #C4B8F3;
$violet-700: #AA99EC;
$violet-800: #6E56CF;
$violet-900: #644FC1;
$violet-1000: #5746AF;