
$font-stack: 'Space Grotesk', sans-serif;

/* Typescale */

$body: 1rem;
$body-s: 0.75rem;

$h1: 4rem;
$h2: 3rem;
$h3: 2.5rem;
$h4: 1.875rem;

$thin: 300;
$regular: 400;
$medium: 500;
$semi: 600;
$bold: 700; 


